@import "../../data/dist/scss/kube.scss";
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41; }

.dropdown {
    ul {
        display: block !important;
    }

    li {
        margin-right: 0px !important;
        font-size: 15px;
        font-weight: 400;  
    }

    a {
        display: block !important;
    }
}
#posts {
    max-width: none;
    h1 {
        a {
            text-decoration: none;
        }
    }

    p {
        padding-bottom: 16px
    }

    .inner, h1, p {
        text-align: left;
        display: inline-block;
    }

    
    @include breakpoint(1000px) {
            max-width: 60%;
    }
    @include breakpoint(0px, 999px) {
        max-width: 680px;
    }

    div.center-block {
        text-align: center;
    }
}

hr {
  border-bottom: none;
}