{{ define "title"}} News {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>News</h1>
    <p>Our vision, news and ideas, and whatever feels important.<br> <a href="{{.Params.twitter}}">Follow us on Twitter</a></p>
</div>
<ul id="posts">
    <div class="centerblock">
        <div class="inner">
         {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
         </div>
      <section>{{ partial "pagination" .}}</section>
     </div>
</ul>

{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}