{{ define "title"}} {{.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}
{{if isset .Params "old" }}
 <div id="hero" class="wrap">
  <h1>{{ .Title }}</h1>
</div> 
<ul id="posts" class="conference">
	{{ range .Data.Pages.ByWeight }}
		<div itemscope itemtype="http://schema.org/CreativeWork">
		    <h1 class="title">
		        <a href="{{ .Permalink }}" itemprop="headline">{{ .Title }}</span></a>
		    </h1>
		   	<h1 class="conftit">{{- .Param "subtitle" -}}</h1>
		    <hr>
		   <div class="my-slider">
		   {{$dir := .Param "dir" }}
		   {{ $rdir := .Param "realdir"}}
		   {{- $photos := readDir $dir -}}
				<ul>
				 	{{- range $photos -}}
						<li><img src="{{ $rdir }}{{ .Name | relURL }}"></li>
					{{- end -}}
				</ul>
			</div>
		    {{ if .Description }}
		    <p itemprop="about">{{ .Description }}</p>
		    {{ end }}
		    {{ .Content }}
		</div>
	{{end}}
</ul>
{{else}}
<div id="hero" class="wrap">
  <h1>{{ .Title }}</h1>
   <p>Check back later for updates on the 2018 conference!</p>
</div>
{{end}}
{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}
